/* CSS Document */

.portlist {
	font-size: 12px;
	font-family: Arial, Simsun
} 
.port_warpper {
	/*width: 260px;*/
	_width: 260px;
	border: 1px solid #7F9DB9;
	background: #FFF;
	padding: 4px;
	margin: 0px;
	text-align: left;
	/*min-height:305px;
*/}
.port_warpperjzx {
	width: 260px;
	border: 1px solid #7F9DB9;
	background: #FFF;
	padding: 4px;
	margin: 0px;
	text-align: left;
	/*min-height:305px;
*/}





.portlist .port_warpper {
	/*height:335px;*/
}
.portlist .port_msg {
	display: block;
	line-height: 20px;
	padding: 0px 0px 0px 5px;
	color: #666;
	border-bottom: 1px dashed #aaa;
	font-family:"Simyou";
	word-wrap:break-word;
	word-break:break-all;
	/*width:207px;*/
}
.portlist .port_contxt {
	margin: 5px 0 0 0;
	padding: 0px;
	/*min-height:277px;*/
}
.portlist .port_contxt {
	/*height:277px;*/
}
.portlist .port_contxt span {
	margin: 0px;
	padding: 0px;
	float: left;
	text-align: left;
}
.portlist .port_contxt a {
	padding: 1px 5px 0px 5px;
	text-align: right;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	cursor: pointer;
	line-height: 20px;
	color: #0055aa;
	display:block;
	text-decoration:none;
	min-height:20px;
}
.portlist .port_contxt a {
	height:20px;
}
.portlist .port_contxt a:hover {
	background: #E7F1FD;
	border-top: 1px solid #7F9DB9;
	border-bottom: 1px solid #7F9DB9;
}
.portlist .port_selected {
	background: #C8E3FC;
	color: #FFF;
	border-top: 1px solid #C8E3FC;
	border-bottom: 1px solid #C8E3FC;
}
.portlist .port_pagebreak {
	padding:0;
	margin:0;
	display:none;
	line-height:25px;
	text-align:center;
}
.portlist .port_pagebreak a {
	color:#0055aa;
	font-family: Arial, Simsun, sans-serif;
	text-decoration:underline;
	padding:0px 4px 0px 4px;
	margin:0;
	font-size:14px;
}
.portlist .port_arrowl,.portlist .port_arrowr {
	color:#0055aa;
}
.portlist a.port_current {
	color:black;
	text-decoration:none;
}
.portlist .port_contxt a.anone:hover{ background:none; border:none}

.portlist{ background:url(http://style.jctrans.com/oe09/yj/air/triangle4.gif) no-repeat; padding-top:8px; }
.port_warpper{ border-top:none; margin-top:-1px;}
.port_warpperjzx{ border-top:none; margin-top:-1px;}